{
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 120,
  "arrowParens": "always",
  "tabWidth": 2,
  "tabs": false,
  "endOfLine": "lf"
}
